<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Hide Price for Public User in Multi Website</h2>
        <h3 class="oe_slogan">This module allow to hide product price from any specific website for not logged in user or public user in website shop page,
        Configuration to hide website product price from public user,
        Support for multi-website platform,
        Hide product price and add to cart button in shop page and product page.</h3>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4 class="oe_slogan">Website Configuration</h4>
        <p style="font-size:18px; margin-left: 8%;">Go to Website -> Configuration -> Websites (Enable developer mode)</p>
        <p style="font-size:18px; margin-left: 8%;">Select specific website and click on edit button and check on Hide Price for Public User field.</p>
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="website_form.png">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4 class="oe_slogan">Price display for logged in user in shop page</h4>
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="show_price_shop.png">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4 class="oe_slogan">Price not display for not logged in user (public user) in shop page</h4>
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="hide_price_shop.png">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4 class="oe_slogan">Price not display for not logged in user (public user) in product detail page</h4>
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="hide_price_product.png">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced" style="background: #eeeeee; padding:20px;">
        <font style="color:red; font-weight:bold;">
            <b>Note: </b>This module is tested and working in Odoo Community Edition but not tested in Enterprise Edition.
        </font>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced" style="background: #eeeeee; padding:20px; font-weight:bold;">
        <strong>Note: </strong> This product is developed and tested with Odoo addons for declared compatible versions and does not guarantee compatibility with any 3rd party module and theme.
		<a href="mailto:thefuturelens@gmail.com">Contact us</a> for more information or in case of any trouble with this module.
    </div>
</section>

<section class="oe_container lead" style="background: #eeeeee;">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">
                <a href="http://thefuturelens.com" target="new">
                    <img src="logo.png">
                </a>
            </h2>
            <div class="oe_mt16 oe_mb16">
                <h2 class="oe_slogan">Support &amp; Contact</h2>
                <h4 class="text-center" style="font-size:20px;">If you need support, request customization, any help or want more features, just contact us</h4>
            </div>
            <div class="oe_slogan col-md-12" style="font-size:20px;">
                <div class="col-md-4" style="float:left; padding:20px;">
                    <h4><i class="fa fa-envelope"></i> Email Us</h4>
                    <a href="mailto:thefuturelens@gmail.com">thefuturelens@gmail.com</a>
                </div>
                <div class="col-md-4" style="float:left; padding:20px;">
                    <h4><i class="fa fa-skype"></i> Support</h4>
                    <a href="skype:live:thefuturelens">live:thefuturelens</a>
                </div>
                <div class="col-md-4" style="float:left; padding:20px;">
                    <h4><i class="fa fa-phone"></i> Contact Us </h4>
                    <a href="https://www.thefuturelens.com/contact-us/" target="_blank">www.thefuturelens.com</a>
                </div>
            </div>
        </div>
    </div>
</section>
